body {
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
header{
    position: fixed;
    width: 100%;
    line-height: 3;
    text-align: right;
    left: 0
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gradient-yellow {
    background-image: linear-gradient(#ffffff, #fcb01c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  .gradient-light-blue {
    background-image: linear-gradient(#ffffff, #489fd1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
.copyright {
    position: fixed;
    color:#ffffff;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: left;
    left: 150px
}
.services {
    position: fixed;
    bottom: 50px;
    width: 100%;
    line-height: 2;
    text-align: center;
    left: 0
}
.contacts {
    position: fixed;
    color:#ffffff;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: right;
    right: 250px
}